%h1.heading Gallery
#gallery
  %p== #{image_tag("/images/gallery/1.jpg")}
  %p== #{image_tag("/images/gallery/2.jpg")}
  %p== #{image_tag("/images/gallery/3.jpg")}
  %p== #{image_tag("/images/gallery/4.jpg")}
  %p== #{image_tag("/images/gallery/5.jpg")}
  %p== #{image_tag("/images/gallery/6.jpg")}
  %p== #{image_tag("/images/gallery/7.jpg")}