%h1 Production Notes
%p.ht== #{link_to "Download the story board as a .pdf", "/pdf/hummingbirdBoards_v06.pdf"}
%p.ht== #{link_to "Download the treatment as a .pdf", "/pdf/hummingbirdTreatment_v04.pdf"}

#pnotes
  %p== The director spent 2-3 hours before every shoot drawing each of the young girl's tattoos with office supply markers. The kernel of the story is from a memory that the director had of his uncle performing a bit of home surgery, after an accident at a factory. In actually, his uncle drilled holes in his damaged nails. Apparently, this is a common way to relieve the excruciating pressure that builds up under the nails. Milla Karkannen, who plays the lead role of the young girl, had never acted before in her life. The home surgery scene, was her first day in front of a camera. The film was "prevised" and storyboarded in it's entirety twice, before any footage was shot. The street scenes in krakow were filmed on the same locations as Shindler's List, Krakow's former jewish ghetto. Anna Barry, who plays the wicked old woman, also plays a wicked old woman in the 2011 feature film, "Your Highness", starring Natalie Portman. While most of the films visual effects were done on the director's laptop, some key set pieces were left in the hands of vfx veterans of such films as "Avatar", "2012", and "Inception". To give the nails a cracked and dead look, scans of dried porcini mushrooms were mapped onto the actress's fingernails, the pictures hanging on the young girl's wall are reproductions of vintage Polish film posters, including alternate posters for Star Wars and Marathon Man.

#pdfs
  #hummingbird_board
    / %h2.title== Story Board
    / %p== #{image_tag("/images/hb_png/1.png")}
    / %p== #{image_tag("/images/hb_png/2.png")}
    / %p== #{image_tag("/images/hb_png/3.png")}
    / %p== #{image_tag("/images/hb_png/4.png")}
    / %p== #{image_tag("/images/hb_png/5.png")}
    / %p== #{image_tag("/images/hb_png/6.png")}
    / %p== #{image_tag("/images/hb_png/7.png")}
    / %p== #{image_tag("/images/hb_png/8.png")}
    / %p== #{image_tag("/images/hb_png/9.png")}
    / %p== #{image_tag("/images/hb_png/10.png")}
    / %p== #{image_tag("/images/hb_png/11.png")}
    / %p== #{image_tag("/images/hb_png/12.png")}
    / %p== #{image_tag("/images/hb_png/13.png")}
    / %p== #{image_tag("/images/hb_png/14.png")}
    / %p== #{image_tag("/images/hb_png/15.png")}
    / %p== #{image_tag("/images/hb_png/16.png")}
  #hummingbird_treatment
    %h2.title== Treatment
    %p== #{image_tag("/images/ht_png/1.png")}
    %p== #{image_tag("/images/ht_png/2.png")}
    %p== #{image_tag("/images/ht_png/3.png")}
    %p== #{image_tag("/images/ht_png/4.png")}
    %p== #{image_tag("/images/ht_png/5.png")}
