<li><%= link_to "Home", root_path %></li>
<li class="menu_bullet">&#8226;</li>
<li><%= link_to "Trailer", trailer_path %></li>
<li class="menu_bullet">&#8226;</li>
<li><%= link_to "Story", story_path %></li>
<li class="menu_bullet">&#8226;</li>
<li><%= link_to "Gallery", gallery_path %></li>
<li class="menu_bullet">&#8226;</li>
<li><%= link_to "Cast And Crew", cast_crew_path %></li>
<li class="menu_bullet">&#8226;</li>
<li><%= link_to "Behind the Scenes", behind_the_scenes_path %></li>
<li class="menu_bullet">&#8226;</li>
<li><%= link_to "Press", press_path %></li>
<li class="menu_bullet">&#8226;</li>
<li><%= link_to "Contact", contact_path %></li>
