<li><%= link_to "Home", root_path %></li>
<li class="menu_bullet">&#8226;</li>
<li><%= link_to "Trailer", trailer_path %></li>
<li class="menu_bullet">&#8226;</li>
<li><%= link_to "News", news_path %></li>
<li class="menu_bullet">&#8226;</li>
<li><%= link_to "Gallery", gallery_path %></li>
<li class="menu_bullet">&#8226;</li>
<li><%= link_to "Talent", talent_path %></li>
<li class="menu_bullet">&#8226;</li>
<li><%= link_to "Production Notes", production_notes_path %></li>
<li class="menu_bullet">&#8226;</li>
<li><%= link_to "Press Kit", press_kit_path %></li>
<li class="menu_bullet">&#8226;</li>
<li><%= link_to "Contact", contact_path %></li>
