<!DOCTYPE html>
<html>
<head>
  <title>Colour Bleed | A Short Film Written &amp; Directed by Peter Szewczyk</title>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <!-- <div class="container">
    <%#= render 'layouts/header' %>
    <section>
        <%#= yield %>
    </section>
      <%#= render 'layouts/footer' %> 
  </div> 

</div>-->

        <div id="container">
            <div id="header">
            </div>
            <div id="content_container" class="home">
                
                <div id="main_nav_container">
                    <div id="main_nav">
                        <ul>
                            <%= render 'layouts/links' %>
                        </ul>
                    </div>
                    <div id="body_text" class="home_text">
                        <%= yield %>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <%= render 'layouts/footer' %>
  </body>
</html>