!!! 5
%html{:xmlns => "http:://www.w3.org/1999/xhtml", :lang => "en"}
  %head
    /%title= yield(:title) || "Colourbleed | \"The price you pay for a brighter day\""
    %title= "Colourbleed | \"A Short Film by Peter Szewczyk\""
    = stylesheet_link_tag "screen"
    = javascript_include_tag :defaults, "jquery.livequery", "roll_credits"
    = csrf_meta_tag
  %body
    #page_container
      #header
      %ul#navigation= render :partial => "navigation/link", :collection => nav_nodes
      #main_content= yield
      #footer
    #decoration