!!! 5
%html{:xmlns => "http:://www.w3.org/1999/xhtml", :lang => "en"}
  %head
    %title= title
    = stylesheet_link_tag "screen"
    = javascript_include_tag :defaults, "jquery.livequery", "roll_credits"
    = csrf_meta_tag
  %body
    #page_container
      / #facebook_like= facebook_like
      #header
      %ul#navigation= render :partial => "navigation/link", :collection => nav_nodes
      #main_content= yield
      #footer
      / #footer.fontface development & design by: gdgt productions
    #decoration